<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    该模板使用<%...%>放置 JavaScript 代码，使用<%= ... %>输出 JavaScript 表达式。
    <script>
        let template = `
      <ul>
          <% for(let i=0; i < data.supplies.length; i++) { %>
          <li><%= data.supplies[i] %></li>
          <% } %>
      </ul>
      `;
    </script>
</body>

</html>